@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #14213D;
    --bg-color2: #000000;
    --primary-color: #E5E5E5;
    --secondary-color: #FCA311;
}

@layer base {
    body {
        @apply bg-[var(--bg-color)] text-[var(--primary-color)] font-mono tracking-wide min-h-screen;
    }
}

@layer utilities {
    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes cursor {
        50% {
            border-color: transparent
        }
    }
}