@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #14213D;
    --bg-color2: #000000;
    --primary-color: #E5E5E5;
    --secondary-color: #FCA311;
}

body {
    @apply bg-[var(--bg-color)] text-[var(--primary-color)] font-mono tracking-wide min-h-screen;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}