@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #14213D;
        --bg-color2: #000000;
        --primary-color: #E5E5E5;
        --secondary-color: #FCA311;
    }

    body {
        @apply bg-background text-primary font-mono tracking-wider min-h-screen m-0 p-0;
    }
}